{% extends './base.html' %}
{% load static %}



{% block body %}

<!-- INICIO DE HEADING -->
<div id="contBienv" class="contBienv p-3 mb-2 bg-light text-emphasis-warning">
    <div class="d-flex p-2">
        <h2>Bienvenidos a Capibara Muebles!! <span class="containerTitulo badge bg-danger">Encuentra todo tipo de Muebles que sea 
            comodo para tu hogar</span></h2>
    </div>

</div>
<!-- FIN DE HEADING -->
<!-- agregar un modal y un carrucel --> 
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active mt-5">
        <img src="{% static 'img/mueble1.png.jpg'%}" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/mueble2.png.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/mueble3.png.jpg'%}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

    <!-- PRODUCTOS
    <div class="container">
        <div class="row mt-5">
            <h2>Sección Perros</h2>
            {% for p in cate_perro %}
            <div class="col">
                <div class="item" style="width: 18rem;">
                    <span class="titulo-item">{{p.nombre}}</span>
                    <img class="img-item" src="{{ p.image_url.url }}" alt="{{ p.nombre }}">
                    <p class="card-text">{{p.descripcion}}</p>
                    <span class="precio-item btn-primary">{{p.precio}}</span>
                    <button class="boton-item">Agregar</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row mt-5">
            <h2>Sección Gatos</h2>
            {% for p in cate_gato %}
                <div class="col">
                    <div class="item" style="width: 18rem;">
                        <span class="titulo-item">{{p.nombre}}</span>
                        <img class="img-item" src="{{ p.image_url.url }}" alt="{{ p.nombre }}">
                        <p class="card-text">{{p.descripcion}}</p>
                        <span class="precio-item btn-primary">{{p.precio}}</span>
                        <button class="boton-item">Agregar</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div> -->

    <div class="carrito">

        <div class="header-carrito">
            <h2>tu carrito</h2>
        </div>

        <div class="carrito-items">
            <!-- 
            <div class="carrito-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_cUKrNBAHhvLEdPAKJ0zH6k_RgS59jx0MgQ&usqp=CAU" alt="" width="80px">
                <div class="carrito-item-detalles">
                    <span class="carrito-item-titulo">Remedio otitis</span>

                    <div class="selector-cantidad">
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input class="carrito-item-cantidad" type="text" value="1" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                        <span class="carrito-item-precio">$14.000</span>
                    </div>

                </div>
                <span class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </div>

            <div class="carrito-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHoMDhIZtwwNs4Sq0A8b0h_dI0L598UUbwlg&usqp=CAU" alt="" width="80px">
                <div class="carrito-item-detalles">
                    <span class="carrito-item-titulo">Bolsa residuo</span>

                    <div class="selector-cantidad">
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input class="carrito-item-cantidad" type="text" value="2" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                        <span class="carrito-item-precio">$1.000</span>
                    </div>

                </div>
                <span class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </div>
             -->
        </div>

        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">$</span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
        </div>

</div>
    
    <!--  CONTENEDOR CON TIPS DE CUIDADO-->
    <div id="contTips" class="containerTips text-center my-5 mx-5">
        <div class="row align-items-start">
        <div class="col">
    
            <div id="descTips">
    
            <h1>Gran variedad de muebles y de calidad</h1>
    
            </div>
    
        </div>
        <div class="col">
    
            <div id="img" class="contimgtips">
            <img src="{% static 'img/Capibara1.png.jpg'%}" alt="">
    
            </div>
        </div>
        </div>
    </div>
    <!-- FIN CONTENEDOR CON TIPS DE CUIDADO-->
    
    
        <section id="sectionNosotros" class="my-5">
        
            <div class="containerNosotros">
            <h4>QUIENES SOMOS!</h4>
            Capibara es una pagina dedicada para la venta de muebles para la remodelacion y renovacion de su hogar trabajamos con los mejores
            proveedores tanto de madera como de repuestos y accesorios, tambien contamos con delivery a su domecilio en cualquier parte de Chile
            nos preocupa su hogar por eso le entregamos lo mas rapido su producto con la mejor disponibilidad y accesibilidad 
        
            </div>
        
        </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}
