{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% load static %}    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Inicio</title>
    <link rel="Inicio icon" type="png" href="{% static 'img/petshop.png' %}">
    {%block head %}
    
    {% endblock %}
</head>

<!-- icono de pestaña -->



<body onload="load()" data-bs-theme="light">
    <!-- INICIO DE NAVBAR -->
    <div id="contenedorNavbar" class="p-3 mb-2  text-emphasis-warning">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> <img width="75px" height="75px"
                        src="{% static 'img/petshop.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Bienvenidos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="">Sección Caninos</a></li>
                                <li><a class="dropdown-item" href="">Sección Felinos</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Ofertas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/RegistroUsuario">Registro de usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agregarProducto">Agregar Producto</a>
                        </li>
                    </ul>
                    {% comment %} <form class="d-flex" role="search">{% csrf_token %}
                        <button id="btnCarrito" class="btn btn-outline-primary" type="submit">Carrito</button>
                    </form> {% endcomment %}
                    <!-- reloj-->
                    <a id="contReloj" href="">
                        <button id="btnReloj" class="rounded-4">
                            <h3 id="time">00:00:00</h3>
                        </button>
                    </a>
                    <!-- fin reloj -->
                    <!-- api -->
                    <button id="clima" class="btn btn-bs-body-color">
                    </button>
                    <!-- fin api -->
                    <!-- BOTON PARA LOGEARSE EN LA PAGINA -->
                    <a href="/Login">
                        <button class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 
                          5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </button>
                    </a>
                    <!-- BOTON DE CARRITO DE COMPRAS -->
                    <a href="" data-bs-toggle="modal" data-bs-target="#ModalCarrito">
                        <button class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                class="bi bi-cart4" viewBox="0 0 16 16">
                                <path
                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 
                          1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11
                           3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                        </button>
                    </a>
                    <!-- boton modo oscuro -->
                    <button onclick="cambiarTema()" class="btn rounded-fill"><i id="dl-icon"
                            class='bx bx-moon icon moon'></i></button>
                </div>
            </div>
        </nav>
    </div>
    <!-- FIN DE NAVBAR -->
    {%block body %}

    {% endblock %}


    <div id="fondo" class="back">
        <h3>Datos de contactos sobre nosotros!</h3>
        <br>
        <div class="contenedorDatos">
            <div id="contDatos" class="container">
                <div class="row-datos">
                    <div id="col1" class="col">
                        <a href=""><img src="{% static 'img/social_facebook_box_blue_256_30649.png  ' %}"
                                alt=""></a>
                        <a href=""><img
                                src="{% static 'img/instagram.png' %}"
                                alt=""></a>
                        <a href=""><img src="{% static 'img/whatsappmessage_conversation_whatsap_7149.png' %}"
                                alt=""></a>
                        <h5>petshop.cl</h5>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"crossorigin="anonymous"></script>

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>
<script src="{% static 'js/app.js' %}" async></script>
<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/carrito1.js' %}"></script>

{% comment %} <script src="{% static 'js/jquery.js' %}"></script>  {% endcomment %}

{%block script %}

{% endblock %}

</html>