{% extends './base.html' %}
{% load static %}



{% block body %}

<!-- INICIO DE HEADING -->
<div id="contBienv" class="contBienv p-3 mb-2 bg-light text-emphasis-warning">
    <div class="d-flex p-2">
        <h2>Bienvenidos a PetShop! <span class="containerTitulo badge bg-danger">Encuentra variedades de productos en nuestra
                tienda</span></h2>
    </div>

</div>
<!-- FIN DE HEADING -->

    <!-- PRODUCTOS -->
    <div class="container">
        <div class="row mt-5">
            <h2>Sección Perros</h2>
            {% for p in cate_perro %}
            <div class="col">
                <div class="item" style="width: 18rem;">
                    <span class="titulo-item">{{p.nombre}}</span>
                    <img class="img-item" src="{{ p.image_url.url }}" alt="{{ p.nombre }}">
                    <p class="card-text">{{p.descripcion}}</p>
                    <span class="precio-item btn-primary">{{p.precio}}</span>
                    <button class="boton-item">Agregar</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row mt-5">
            <h2>Sección Gatos</h2>
            {% for p in cate_gato %}
                <div class="col">
                    <div class="item" style="width: 18rem;">
                        <span class="titulo-item">{{p.nombre}}</span>
                        <img class="img-item" src="{{ p.image_url.url }}" alt="{{ p.nombre }}">
                        <p class="card-text">{{p.descripcion}}</p>
                        <span class="precio-item btn-primary">{{p.precio}}</span>
                        <button class="boton-item">Agregar</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="carrito">

        <div class="header-carrito">
            <h2>tu carrito</h2>
        </div>

        <div class="carrito-items">
            <!-- 
            <div class="carrito-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_cUKrNBAHhvLEdPAKJ0zH6k_RgS59jx0MgQ&usqp=CAU" alt="" width="80px">
                <div class="carrito-item-detalles">
                    <span class="carrito-item-titulo">Remedio otitis</span>

                    <div class="selector-cantidad">
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input class="carrito-item-cantidad" type="text" value="1" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                        <span class="carrito-item-precio">$14.000</span>
                    </div>

                </div>
                <span class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </div>

            <div class="carrito-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHoMDhIZtwwNs4Sq0A8b0h_dI0L598UUbwlg&usqp=CAU" alt="" width="80px">
                <div class="carrito-item-detalles">
                    <span class="carrito-item-titulo">Bolsa residuo</span>

                    <div class="selector-cantidad">
                        <i class="fa-solid fa-minus restar-cantidad"></i>
                        <input class="carrito-item-cantidad" type="text" value="2" disabled>
                        <i class="fa-solid fa-plus sumar-cantidad"></i>
                        <span class="carrito-item-precio">$1.000</span>
                    </div>

                </div>
                <span class="btn-eliminar">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </div>
             -->
        </div>

        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">$</span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
        </div>

</div>
    
    <!--  CONTENEDOR CON TIPS DE CUIDADO-->
    <div id="contTips" class="containerTips text-center my-5 mx-5">
        <div class="row align-items-start">
        <div class="col">
    
            <div id="descTips">
    
            <h1>Tips de gran ayuda para el cuidados de nuestros peluditos</h1>
    
            </div>
    
        </div>
        <div class="col">
    
            <div id="img" class="contimgtips">
            <img src="{% static 'img/tipsCuidadosMascota.png'%}" alt="">
    
            </div>
        </div>
        </div>
    </div>
    <!-- FIN CONTENEDOR CON TIPS DE CUIDADO-->
    
    
        <section id="sectionNosotros" class="my-5">
        
            <div class="containerNosotros">
            <h4>QUIENES SOMOS!</h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, in eos quae inventore adipisci sunt id corporis
            debitis esse! Quos delectus reprehenderit sint reiciendis vel quod suscipit? Id, omnis temporibus.
            Sapiente praesentium nam ex voluptate nulla quam facere excepturi, mollitia dignissimos repudiandae repellat
            assumenda voluptatibus nesciunt et facilis ipsam similique molestias, odio soluta accusantium quae temporibus iure
            consequatur! Maiores, provident?
            Quos blanditiis error, ipsam quis nostrum nulla laudantium dolor delectus vitae dolorum, veniam doloribus explicabo
            eaque itaque voluptatibus sequi, repellendus sint. Quas, inventore earum nostrum optio eius reprehenderit? Esse,
            dolorem.
            Facere est at fugit velit commodi! Quasi perspiciatis, eaque similique accusamus, sunt, facilis exercitationem
            mollitia laboriosam a quidem dolore! Magnam tempore sunt sint distinctio? Officia sapiente sed totam? A, accusamus?
            Corporis commodi illo necessitatibus similique repudiandae iste voluptatum incidunt ea, placeat recusandae aperiam
            iure perspiciatis totam eveniet quam aspernatur porro minima molestiae accusamus ab reiciendis, maxime rem magnam
            enim. Soluta.
        
            </div>
        
        </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}
