
/*INICIO CSS LOGIN */
#contenedorLogin{
    border: solid lightgray;
    height: 70vh;
    width: 65vh;
}

#contenedorLogin button{
    width: 100%;
    display: flex;
    justify-content: center;
}

#loginTitulo{
    text-align: center;
}

.input-group{
     padding: 5px; 
}

/*FIN CSS LOGIN */
