@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'open Sans';
}

.error{
    color: red;
    /* font-weight: bolder; */
}

#contenedorNavbar{
    background-color: lightgrey;
}

.conatainer{
    height: 100vh;
}

#btnRegistrar{
    width: 10rem;
}

#colBtn{
    text-align: end;
}

/* css reloj */
#contReloj{
    text-align: center;
    height: 90%;
    margin-right: 320px;
}

#btnReloj{
    background-color: transparent !important;
    border: lightgray;
}

#time{
    padding: 5px 5px;
}

#clima{
    
}